@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@font-face {
    font-family: HouschkaProMedium;
    src: url('Fonts/HouschkaPro-Medium.otf');
}

@font-face {
    font-family: HouschkaProBold;
    src: url('Fonts/HouschkaPro-Bold.otf');
    font-weight: bold;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #7dc1ba;
    border-radius: 5px;
    position: fixed;
    width: 100%;
}



body {
    background-color: #fff5eb;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ab92ed;
    text-decoration: none;
}

footer {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 80px;
    margin-bottom: 0px;
    background-color: #fae8c5;
}

    footer .firstCol {
        float: left;
        text-align: center;
        width: 33%;
    }

    footer .secondCol {
        text-align: center;
        width: 33%;
    }

    footer .thirdCol {
        float: right;
        text-align: center;
        width: 33%;
    }

.logo {
    cursor: pointer;
    width: 80px;
    height: auto;
}

.nav__links {
    list-style: none;
}

    .nav__links li {
        display: inline-block;
        padding: 0px 20px;
    }

        .nav__links li a {
            transition: all 0.3s ease 0s;
            display: inline-block;
        }

            .nav__links li a:hover {
                color: orange;
            }

button {
    padding: 9px 25px;
    background-color: rgba(123, 146, 224, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

    button:hover {
        background-color: orange;
    }

.mainTitle {
    text-align: center;
    font-size: 40px;
}

.firstColumn {
    margin-top: 200px;
    float: left;
    width: 50%;
    font-size: 20px;
    text-align: center;
}

.row {
    margin-left: 10%;
}

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

.secondColumn {
    margin-top: 200px;
    float: right;
    width: 50%;
}

.gif {
    height: 400px;
    width: auto;
    border-radius: 5px;
}

.instagram {
    height: 40px;
    width: auto;
}

.vk {
    height: 40px;
    width: auto;
}

.phone {
    height: 40px;
    width: auto;
}

.location {
    height: 40px;
    width: auto;
}

.email {
    border-radius: 5px;
    border-color: #ab92ed;
    height: 30px;
    text-align: center;
}

.message {
    margin-top: 5px;
    border-radius: 5px;
    border-color: #ab92ed;
    height: 30px;
    text-align: center;
    height: 100px;
    border-width: 2px;
}

.writeUs {
    text-align: center;
}

#blackout {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#contactBox {
    width: 500px;
    height: 300px;
    text-align: center;
    padding: 15px;
    border: 3px solid #7dc1ba;
    border-radius: 15px;
    color: #ffffff;
    background-color: #7dc1ba;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.close {
    margin-left: 10px;
}
#blackout:target {
    display: block;
}

.aboutBlock {
    width: 80%;
    float: left;
    margin-top: 200px;
    font-size: larger;
    margin-left: 10%;
    line-height: 1.25;
}

.classPhoto {
    height: auto;
    width: 400px;
}

.secondCol {
    width: 50%;
    float: right;
}

.firstCol {
    width: 50%;
    float: left;
}

.feedbackTitle {
    color: #7dc1ba;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 20px;
}

.feedbacks {
    text-align: center;
    margin-left: 25%;
    width: 50%;
}

.feedback {
    border: 3px solid #7dc1ba;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.groups {
    float: left;
    margin-top: 200px;
    width: 50%;
    margin-left: 25%;
    line-height: 1.25;
    font-size: larger;
}

.adults {
    margin-bottom: 80px;
    padding-bottom: 20px;
    border-bottom: 5px solid #ab92ed;
}

.teenagers {
    margin-bottom: 80px;
    padding-bottom: 20px;
    border-bottom: 5px solid #ab92ed;
}

.courses {
    float: left;
    margin-top: 200px;
    width: 50%;
    margin-left: 25%;
    line-height: 1.25;
    font-size: larger;
}

.english {
    margin-bottom: 80px;
    padding-bottom: 20px;
    border-bottom: 5px solid #ab92ed;
}

.german {
    margin-bottom: 80px;
    padding-bottom: 20px;
    border-bottom: 5px solid #ab92ed;
}

.languageClubs {
    float: left;
    margin-top: 200px;
    width: 50%;
    margin-left: 25%;
    line-height: 1.25;
    font-size: larger;
}

.flag {
    height: 40px;
    width: auto;
}

.practiceInLondon {
    float: left;
    margin-top: 200px;
    width: 50%;
    margin-left: 25%;
    line-height: 1.25;
    font-size: larger;
}

.london {
    width: 210px;
    height: auto;
    margin-right: 20px;
}
