<!DOCTYPE html>
<html>
<!-- BEGIN HEAD -->
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="stylesheet" href="http://127.0.0.1:8080/Styles/Styles.css">
</head>
<!-- END HEAD -->
<body>
    <div class="aboutBlock">

        <h1>О нашей школе</h1>
        <br>
        <div class="secondCol">
            <br>
            <img class="classPhoto" src="http://127.0.0.1:8080/Images/class.jpg" alt="class" />
        </div>
        <div class="firstCol">
            <br>
            Мы рады, что вы заглянули на эту страницу сайта<br>
            и захотели узнать о нашей школе немного больше<br>
            стандартной информации. О себе мы можем,<br>
            конечно, рассказывать бесконечно, но все-таки<br>
            проявим разумную скромность и скажем только о<br>
            самом важном. Надеемся, этого будет достаточно,<br>
            чтобы вы смогли принять решение.<br>
        </div>
        <br>
        Мы считаем, что при изучении иностранного языка студент, преподаватель и<br>
        администрация школы – это единая команда, которая совместно движется к<br>
        общей цели. Чтобы результат усилий был успешным и оставил<br> удовлетворенными всех участников, необходимо понять, насколько принципы обучения разделяются нами и учеником.
        Опираясь на наш преподавательский опыт, мы приводим то, что считаем самым важным в образовательном процессе и что гарантируем нашим ученикам. Давайте проверим, соответствует ли это вашим ожиданиям и представлениям о том, какими должны быть лучшие курсы иностранных языков.

        ПРИХОДИТЕ К НАМ ОБУЧАТЬСЯ ИНОСТРАННЫМ ЯЗЫКАМ!
        <div class="feedbackTitle">
            <br>
            Отзывы о нашей школе
        </div>
        <div class="feedbacks">
            <div class="feedback">
                Добрый вечер, Sunny Republic, хочу выразить вам<br>
                благодарность за такое обучение! Хожу на занятия с<br>
                удовольствием, ваши преподаватели очень<br>
                квалифицированно и ответственно подходят к<br>
                выполнению своей работы!!!<br><br>
                Мария Степанова, обучаюсь два года.<br>
            </div>
            <div class="feedback">
                Вы профессионалы своего дела, не просто педагоги,<br>
                но еще и талантливые люди, которые способны<br>
                излагать материал просто и доступно.<br>
                Спасибо вам большое.<br><br>
                Екатерина Смирнова, обучаюсь с Sunny Republic 1 год.<br>
            </div>
            <div class="feedback">
                Спасибо вам большое за то,<br>
                что помогли моему ребенку<br>
                полюбить английский язык.<br>
                Он с большим удовольствием<br>
                ходит на ваши занятия.<br><br>

                Татьяна Панфилова.<br>
            </div>
        </div>
    </div>
</body>
<!-- END BODY -->
</html>