<!DOCTYPE html>
<html>
<!-- BEGIN HEAD -->
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="stylesheet" href="http://127.0.0.1:8080/Styles/Styles.css">
</head>
<!-- END HEAD -->
<body>
    <div class="courses">
        <div class="english">
            <h1>АНГЛИЙСКИЙ ЯЗЫК </h1><br>
            Чтобы научиться говорить на английском, необходима определенная система или, как ее чаще называют, методика изучения английского языка, которая позволила бы максимально полно решить поставленные задачи, а именно: приобрести навыки чтения, понимания речи на слух, говорения и письма на изучаемом языке.
            Sunny Republic использует самые современные методики обучения языку. Наши преподаватели обучают студентов и обучаются сами, что эффективно влияет на нашу совместную работу со студентами.
            Изучение иностранных языков с лингвистической школой Sunny Republic способствует всестороннему развитию студентов и преподавателей.
        </div>
        <div class="german">
            <h1>НЕМЕЦКИЙ ЯЗЫК</h1><br>
            Изучение немецкого языка всегда пользовалось большой популярностью. Для одних это карьерный рост, для других - просто хобби. Не важны причины. Изучайте немецкий вместе с Sunny Republic.
            Sunny Republic использует самые современные методики обучения языку. Наши преподаватели обучают студентов и обучаются сами, что эффективно влияет на нашу совместную работу со студентами.
        </div>
        <div class="individualSessions">
            <h1>ИНДИВИДУАЛЬНЫЕ ЗАНЯТИЯ</h1><br>
            Если ваш график не позволяет посещать групповые курсы или же вы хотите добиться максимального эффекта от занятий, тогда стоит присмотреться к индивидуальным курсам. Преимущества данной формы обучения следующие:<br>
            Индивидуальный подход.<br>
            Гибкий график.<br>
            Постоянный диалог с репетитором.
        </div>
    </div>
</body>
<!-- END BODY -->
</html>