<!DOCTYPE html>
<html>
<!-- BEGIN HEAD -->
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="stylesheet" href="http://127.0.0.1:8080/Styles/Styles.css">
</head>
<!-- END HEAD -->
<body>
    <div class="groups">
        <div class="adults">
            <h1>ЯЗЫКОВЫЕ КУРСЫ ДЛЯ ВЗРОСЛЫХ В SUNNY REPUBLIC</h1><br>
            Говорят, что взрослым труднее учить английский язык, чем детям.<br> Это миф!
            Взрослые студенты достигают впечатляющих результатов благодаря лучшей
            концентрации внимания, пониманию сложных грамматических конструкций, да и
            просто жизненному опыту. К тому же программа курсов английского языка для
            взрослых в школе иностранных языков  Sunny Republic  в  Черкесске построена с
            учетом возрастных особенностей.<br>
            Занятия длятся<br>
            - 2 академических часа<br>
            - 3 раза в неделю<br>
            Студенты Sunny Republic распределяются по уровням владения языком и с учетом
            особенностей  усвоения материала.
            Курс обучения длится от полугода до года, в зависимости от способностей
            студентов.

        </div>
        <div class="teenagers">
            <h1>ЯЗЫКОВЫЕ КУРСЫ ДЛЯ ПОДРОСТКОВ В SUNNY REPUBLIC</h1><br>
            Для студентов в возрасте от 10 до 16  лет  школа «Sunny Republic» предлагает методику обучения «Я расту вместе с иностранными языками», разработанную на основе ведущих мировых методик преподавания. В основе данной методики лежит понимание возрастной психологии учащихся.
            Переходный возраст — время, когда студент начинает переосмысливать свое положение и начинает все отрицать. В этот период даже родителям становится сложно справиться с ребенком.
            В школе  «Sunny Republic» занятия проходят в непринужденной обстановке. Студент научится использовать слова и словосочетания, грамматические конструкции, не замечая учебный процесс, используя для этого учебники с веселыми картинками, разучивая забавные песенки и участвуя в сценических постановках.
            «Sunny Republic» -это место, где студент будет себя чувствовать комфортно, так как здесь изучение иностранных языков проходит очень интересно.
        </div>
        <div class="kids">
            <h1>ЯЗЫКОВЫЕ КУРСЫ ДЛЯ ДЕТЕЙ В SUNNY REPUBLIC</h1><br>
            Хотите, чтобы ваш ребенок с удовольствием занимался английским и при этом получал реальные результаты?
            Детские курсы иностранного языка в «Sunny Republic»– это то, что даст вашему ребенку настоящие знания, а также научит мыслить системно и структурно.
            <br><br>
            <h3>РАЗВИТИЕ ЯЗЫКОВЫХ НАВЫКОВ</h3>
            Наши курсы иностранного языка помогают детям гармонично развивать все языковые компетенции: грамотная устная и письменная речь, правильное произношение, беглое чтение и понимание на слух.
            <br><br>
            <h3>ИНТЕРЕС К ОБУЧЕНИЮ</h3>
            Веселые и познавательные занятия – это лучший способ сохранить мотивацию к обучению. Наши ученики приходят на уроки с удовольствием и радостью, потому что каждый раз открывают для себя что-то новое.
            <br><br>
            <h3>УЛУЧШЕНИЕ УСПЕВАЕМОСТИ В ШКОЛЕ</h3>
            Занятия иностранным языком в Sunny Republic помогут вашему ребенку комфортно чувствовать себя на школьных уроках и повысят его успеваемость.
        </div>
    </div>
</body>
<!-- END BODY -->
</html>