<!DOCTYPE html>
<html>
<!-- BEGIN HEAD -->
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="stylesheet" href="Styles/Styles.css">
</head>
<!-- END HEAD -->
<body>
    <div id="blackout">
        <div id="contactBox">
            
            <h2>Напишите нам!</h2><br>
            <div class="emailBox">
                <input class="email" id="emailAddress" type="email" size="52" maxLength="52" required
                       placeholder="Ваш Email"
                       title="Please provide only a Best Startup Ever corporate e-mail address">
            </div>
            <div class="messageBox">
                <textarea class="message" id="message" cols="50" rows="8" required
                          placeholder="Сообщение"></textarea>
            </div><br>
                  <button onclick="">Отправить</button><button class="close"><a href="#">Закрыть</a></button>
        </div>
    </div>
    <div class="row">
        <div class="firstColumn">
            <h1>Sunny Republic</h1><br><br>
            Лингвистическая школа  «Sunny Republic»<br>
            способствует всестороннему развитию<br>
            учащихся, используя самые современные<br>
            подходы к образованию.<br>
            Школа «Sunny Republic» открылась в<br>
            г.Черкесск в 2000 году и отражает динамичный<br>
            дух города.<br>
            Преданные своему делу опытные<br>
            преподаватели помогают студентам достигать<br>
            академических высот.<br>
            Вы готовы раскрыть свой потенциал?<br>
            Приходите к нам!<br><br>
            <button><a class="signUpButton" href="#blackout">Записаться на пробное занятие</a></button>
        </div>
        <div class="secondColumn">
            <img class="gif" src="Gifs/animation.gif" />
        </div>
    </div>
</body>
<!-- END BODY -->
</html>