<!DOCTYPE html>
<html>
<!-- BEGIN HEAD -->
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="stylesheet" href="http://127.0.0.1:8080/Styles/Styles.css">
</head>
<!-- END HEAD -->
<body>
    <div class="languageClubs">
        <div class="aboutLanguageClubs">
            <h1>ЯЗЫКОВЫЕ КЛУБЫ SUNNY REPUBLIC</h1><br>
            Изучать английский и другие иностранные языки можно не только на языковых курсах. «Sunny Republic» проводит практические занятия в формате языкового клуба. Каждую субботу наша школа ждет всех желающих принять участия в этом полезном и приятном мероприятии.
            Мы организовали субботние клубы в обширном формате, наша школа предоставляет возможность "разговаривать" на:<br>
            китайском языке<img class="flag" src="http://127.0.0.1:8080/Images/china.png" /><br>
            испанском языке<img class="flag" src="http://127.0.0.1:8080/Images/spain.png" /><br>
            французском языке<img class="flag" src="http://127.0.0.1:8080/Images/france.png" /><br>
            немецком языке<img class="flag" src="http://127.0.0.1:8080/Images/germany.png" /><br>
            английском языке<img class="flag" src="http://127.0.0.1:8080/Images/uk.png" /><br>
        </div>
        <br>
        <div class="timetable">
            <button><a href="https://calendar.google.com/calendar/embed?height=500&wkst=2&bgcolor=%23ffffff&ctz=Europe%2FMoscow&src=YmV1NzVlOWc5ajFkMWJoZnV1cHNwc3JxazhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%233F51B5&showPrint=0&showTabs=0&showCalendars=0&showTz=0&mode=WEEK">Расписание клубов</a></button>
        </div>
    </div>
</body>
<!-- END BODY -->
</html>