<!DOCTYPE html>
<html>
<!-- BEGIN HEAD -->
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="stylesheet" href="http://127.0.0.1:8080/Styles/Styles.css">
</head>
<!-- END HEAD -->
<body>
    <div class="practiceInLondon">
        <h1>ПРАКТИКА В ЛОНДОНЕ</h1><br>
        Школа Sunny Republic два раза в год организовывает поездки в Великобританию для своих студентов, а так же всех желающих побывать в этом  незабываемом королевстве и получить большой багаж практических знаний и навыков общения с носителями языка.
        Поездка в Лондон включает в себя недельное проживание в семье носителей языка, обучение английскому языку по 20-ти часовой программе в школе в центре Лондона, а так же туристические экскурсии по достопримечательностям.
        Всех желающих окунуться в солнечную атмосферу Лондона вместе с Sunny Republic приглашаем в нашу школу.
        Незабываемые впечатления и новые прочные знания гарантируем 👌<br><br>
        <img class="london" src="http://127.0.0.1:8080/Images/london1.jpg" />
        <img class="london" src="http://127.0.0.1:8080/Images/london2.png" />
        <img class="london" src="http://127.0.0.1:8080/Images/london3.png" />
    </div>
</body>
<!-- END BODY -->
</html>